host=localhost
port=3306
app_port=8080
username=ian_user
password=ian_password
database=ian_backend
synchronize=true


JWT_SECRET=super-secret-jwt-key-here
JWT_RT_SECRET=your-refresh-token-secret-here